// ==========
// BUTTONS
// -----
// A collection of button styles for buttons elements, 
// button inputs, and button links.
// Example:
// <a href="#" class="button button--large">Large Button text</a>
// ==========

// Default button styles
button,
input[type="submit"],
.button,
a.button {
  padding: rhythm(0.5) rhythm(1);
  transition: background-color .2s ease;
  &:hover {
    background-color: darken(silver, 10%);
  }
}

// Disabled button styles
a.button--disabled,
.button--disabled {
  color: grey;
  &:hover,
  &:active,
  &:focus {
    cursor: default;
    background-color: silver;
  }
}

.buttons {
  .flex {
    text-align: center;
  }
}
