// ==========
// HEADINGS
// ==========

h1 {
  @include responsive-text-size(mega);
  margin: 0 auto rhythm(1);
}

h2 {
  @include responsive-text-size(kilo);
  margin: 0 auto rhythm(1);
}

h3 {
  @include responsive-text-size(hecto);
  margin: 0 auto rhythm(1);
}

h4 {
  @include responsive-text-size(deca);
  margin: 0 auto rhythm(1);
}

h5 {
  @include responsive-text-size(base);
  margin: 0 auto rhythm(0.5);
}

h6 {
  @include responsive-text-size(base);
  margin: 0 auto rhythm(1);
}
